@import url('./__item/cards__item.css');
@import url('./__title/cards__title.css');
@import url('./__image/cards__image.css');
@import url('./__description/cards__description.css');

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 920px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}
