.feynman__link {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.feynman__link:hover {
  opacity: .2;
}
